{% include top.html %}
{% assign author = site.data.authors[post.author] %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="description" content="{{page.excerpt}}"/>
  <div class="post-header bg-img-fill" style="background-image:url({{ page.cover }});">
    <img class="sr-only" src="{{ page.cover }}" alt="{{page.cover-alt}}">
  </div>
  <div class="container padding-tb-md">
    <div class="row">
      <div class="post-attrib-container col-sm-2 hidden-xs">
        {% assign link = true %}
        {% assign attribVertical = true %}
        {%include attrib.html%}
      </div>
      <div class="col-xs-12 col-sm-10">
        <h1 itemprop="name">{{ page.title }}</h1>
      </div>
      <div class="col-xs-12 visible-xs">
        {% assign link = true %}
        {% assign attribVertical = false %}
        {%include attrib.html%}
      </div>
      <div class="col-xs-12 col-sm-10">
        <div class="post-body padding-tb" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
{% include bottom.html %}