@import "includes/module";
@import "global/module";
@import "forms/module";

body {
  // @include display-flex();
  // @include flex-direction(column);
  background:$gray-100;
  color:$gray-800;
  ::selection {
    background: #90CAF9; //blue-200
  }
  ::-moz-selection {
    background: #90CAF9; //$blue-200
  }
}

hr {
  border-color: $gray-800;
}