.header {
  padding: 2rem 1rem 0 1rem;
}

.header_logo {
  height: 60px;
}
.header_nav {
  .opacity(0);
  float: right;
  vertical-align: top;
  visibility: hidden;
}
.header_link {
  display: inline-block;
  font-weight: @body_med_font_weight;
  padding: 0 1rem;
  text-transform: uppercase;
  &.hiring {
    color: @orange_400;
    &:hover {
      color: @orange_700;
    }
  }
}

@media @mq_medium {
  .header {
    padding: 2rem 0 0 0;
  }
  .header_nav {
    .opacity(100);
    visibility: visible;
  }
}