<footer id="footer" ng-hide="hideFooter">
<nav class="md-navbar md-navbar-sm" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <ul class="md-navbar-list list-unstyled display-flex justify-content-end">
          <li ng-repeat="entry in entries">
           <a class="md-navbar-link" href="{{entry.link}}" ng-class="{'active':isActive('home')}">
             <svg class="md-navbar-icon" viewBox="0 0 24 24"><use xlink:href="#ico_globe" /></svg>
             <span class="md-navbar-title">{{entry.title}}</span>
           </a>
         </li>
       </ul>
    </div>
  </div>
</div>
</nav><!-- HeaderCtrl -->
</footer>