@import "includes/module";
@import "global/module";
@import "forms/module";
@import "blog/module";

body {
  // @include display-flex();
  // @include flex-direction(column);
  background: #263238;
  color: $text-color-lightbg;
  ::selection {
    background: #90CAF9; //blue-200
  }
  ::-moz-selection {
    background: #90CAF9; //$blue-200
  }
}

hr {
  border-color: $gray-400;
}

img{
  max-width:100%;
}