{% unless post %}
{% assign post = page %}
{% endunless %}
{% assign author = site.data.authors[post.author] %}
<!-- Output author details if some exist. -->
{% if author %}
<div class="post-attrib">
  {% if link %}
  <a href="{{ author.web }}" target="_blank" class="no-underline">
  {% endif %}
    <div class="display-flex flex-vertical-align">
      <img src="/public/img/{{post.author}}1.jpg" class="attrib-author"/>
      <div class="padding-l">
        <div>{{ author.name }}</div>
        <time class="attrib-time" datetime="{{post.date|date:"%F"}}" am-time-ago="'{{post.date|date:"%F"}}'"></time>
      </div>
    </div>
  {% if link %}
  </a>
  {% endif %}

  {%comment%}
    <ul class="list-unstyled attrib-tags">
      {% for tag in post.tags %}
      <li>
        <a class="tag_list_link" href="/tag/{{ tag }}">#{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
    {%endcomment%}
</div>
{% endif %}