#header{
  position: fixed;
  z-index: 10;
  bottom:0;
  left:0;
  width:100%;
  @include transition(all $swift-ease-in-out-duration $swift-ease-in-out-timing-function 100ms);
  &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active{
    margin-top:-54px;
    opacity:0;
    &.ng-hide{
      display:block !important;
    }
  }
  &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add{
    margin:0;
    opacity:1;
    &.ng-hide{
      display:block !important;
    }
  }
  @include breakpoint($screen-sm) {
    bottom:auto;
    position:relative;
  }
}
.md-navbar{
  @extend .md-shadow-bottom-z-2;
  background-color: #37474F; //$blue-gray-800
  bottom: 0;
  margin: 0;
  width: 100%;
  @include breakpoint($screen-sm) {
    .md-navbar-item {
      width: auto;
    }
    .md-navbar-icon {
      display: inline-block;
      height: 18px;
      vertical-align: text-bottom;
      width: 18px;
    }
    .md-navbar-title {
      display: inline;
    }
  }
  &.md-navbar-sm{
    font-size:.8em;
  }
}
.md-navbar-icon {
  @include transition(fill $swift-ease-out-duration $swift-ease-out-timing-function);
  display: block;
  fill: $text-color-secondary;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}
.md-navbar-list {
  margin: 0 0;
  padding: 0 0;
}
.md-navbar-item {
  display: inline-block;
  width: 25%;
}
.md-navbar-title {
  display: block;
  margin-top: 0.25em;
}
.md-navbar-link {
  @include transition(color $swift-ease-out-duration $swift-ease-out-timing-function);
  color: $text-color-secondary;
  display: block;
  font-size: 0.75em;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover, &:active, &:focus {
    color: $text-color;
    background-color: transparent !important;
    text-decoration: none;
    .md-navbar-icon {
      fill: $text-color;
    }
  }
  &:active, &.active {
    color: white;
    .md-navbar-icon {
      fill: white;
    }
  }
  @include breakpoint($screen-sm){
    font-size: 1em;
    padding: 1em;
    text-align: left;
  }
}