#header{
  border-bottom:1px solid $gray-500;
  .logo{
    width:80px;
    @include breakpoint($screen-sm){
      width:110px;
    }
  }
  .navbar-right{
    @include breakpoint($screen-sm){
      margin-top:1em;
    }
  }
}