#header{
  .hiring {
    color: #ffa726;
  }
  .logo{
    width:80px;
    @include breakpoint($screen-sm){
      width:110px;
    }
  }
  .navbar-right{
    @include breakpoint($screen-sm){
      margin-top:1em;
    }
  }
}