---
layout: default
title: Blog
---


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Show last 5 posts here -->
      <div itemscope itemtype="https://schema.org/Blog">

      {% for post in paginator.posts %}
        <article class="padding-tb" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
        {% assign author = site.data.authors[post.author] %}
          <div class="row">
            <div class="col-xs-12">
              <h2>
                <a href="{{site.baseurl}}{{post.url}}" itemprop="url">
                <span itemprop="name">{{ post.title }}</span>
              </a>
            </h2>
            </div>
            <div class="col-xs-12">
              <a href="{{site.baseurl}}{{post.url}}" itemprop="url">
                <header class="list-header bg-img-fill" style="background-image:url({{ post.cover }})">
                  <img class="sr-only header-image" src="{{ post.cover }}" alt="{{post.cover-alt}}">
                </header>
              </a>
            </div>
            <div class="col-xs-12">
              {{ post.excerpt }} <span class="list-author serif">– by {{ author.name }}</span>
            </div>
          </div>
        </article>

      {% endfor %}

        <div id="paginator">
          {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
          {% endif %}

          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <span class="more">
              <a href="{{site.baseurl}}/">
              Newer Posts &raquo; </a>
              </span>
            {% else %}
              <span class="more">
              <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
              Newer Posts &raquo; </a>
              </span>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
