---
layout: default
title: Home
---

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
  <article class="padding-tb">
    <a href="{{site.baseurl}}{{post.url}}">
      <header class="list-header" style="background-image: url({{ post.cover }});">
        <h2>{{ post.title }}</h2>
      </header>
    </a>
    {{ post.categories | category_links }}
    {% include attrib.html %}
    <div class="entry">{{ post.excerpt }}</div>
  </article>
{% endfor %}


<div id="paginator">
    {% if paginator.next_page %}
      <a href="{{site.baseurl}}/page{{paginator.next_page}}">
      &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <span class="more">
        <a href="{{site.baseurl}}/">
        Newer Posts &raquo; </a>
        </span>
      {% else %}
        <span class="more">
        <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
        Newer Posts &raquo; </a>
        </span>
      {% endif %}
    {% endif %}
</div>