[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-hide{
  display: none;
}

.bg-gray-300{
  background-color: $gray-300;
}
.bg-gray-500{
  background-color: $gray-500;
}
.bg-gray-900{
  background-color: $gray-900;
}
.bg-brand-primary{
  background-color: $brand-primary;
}
.bg-brand-success{
  background-color: $brand-success;
}
.bg-brand-info{
  background-color: $brand-info;
}
.bg-brand-warning{
  background-color: $brand-warning;
}
.bg-brand-danger{
  background-color: $brand-danger;
}
.bg-body{
  background-color: $body-bg;
}
.bg-blue-dark{
  background-color: $blue-dark;
}
.bg-blue-extra-dark{
  background-color: $blue-extra-dark;
}
.bg-blue-light{
  background-color: $blue-light;
}

.fill-white{
  fill:white;
}
.fill-gray-300{
  fill: $gray-300;
}
.fill-gray-500{
  fill: $gray-500;
}
.fill-gray-900{
  fill: $gray-900;
}
.fill-brand-primary{
  fill: $brand-primary;
}
.fill-brand-success{
  fill: $brand-success;
}
.fill-brand-info{
  fill: $brand-info;
}
.fill-brand-warning{
  fill: $brand-warning;
}
.fill-brand-danger{
  fill: $brand-danger;
}
.fill-body{
  fill: $body-bg;
}

.user-select-none{
  @include user-select(none);
}

.bg-img-fill{
  background-size:100% auto;
  background-position:50% 50%;
  background-repeat:no-repeat;
}

.hidden-touch{
  html.touch &{
    display: none !important;
  }
}

.hidden-no-touch{
  html.no-touch &{
    display: none !important;
  }
}