.btn-container {
  background-color: $body-bg;
  padding: 0.75em 0; //padding takes place of button margin when in container
  &.btn-container-righty {
    text-align: right;
  }
  &.btn-container-fixed {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  &.btn-container-bordered {
    border-bottom: 1px solid $gray-800;
    border-top: 1px solid $gray-800;
  }
  &.btn-container-bordered-top {
    border-top: 1px solid $gray-800;
  }
  .btn {
    margin: 0 0.25rem; //side margins for multiple buttons in container
    &:first-of-type {
      margin-left: 0; //0 margin for first/left-aligned
    }
  }
}

.btn {
  border: none;
  border-radius: $border-radius-large;
  line-height: 1.2em;
  padding:$grid-gutter-width/4 $grid-gutter-width/2;
  text-transform: uppercase;
  &.btn-flat{
    box-shadow:none;
  }
  &[disabled]{
    @include opacity(100);
    color: $text-color-secondary !important;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow:none;
    background-color: $gray-800;
    &.btn-flat{
      background-color:none;
    }
    .icon {
      fill: $text-color-secondary;
    }
  }
}
.btn-titlebar {
  .icon {
    height: 32px;
    width: 32px;
  }
}

.btn-nopad {
  @include border-radius(0);
  padding-left: 0;
  padding-right: 0;
}
.btn-flat {
  @include transition(color $swift-ease-out-duration $swift-ease-out-timing-function);
  background-color: transparent;
  &.btn-primary {
    background-color: transparent;
    color: $brand-primary;
    .icon {
      fill: $brand-primary;
    }
  }
  &.btn-success {
    background-color: transparent;
    color: $brand-success;
    .icon {
      fill: $brand-success;
    }
  }
  &.btn-warning {
    background-color: transparent;
    color: $brand-warning;
    .icon {
      fill: $brand-warning;
    }
  }
  &.btn-danger {
    background-color: transparent;
    color: $brand-danger;
    .icon {
      fill: $brand-danger;
    }
  }
  &.btn-info {
    background-color: transparent;
    color: $brand-info;
    .icon {
      fill: $brand-info;
    }
  }
  &:hover {
    &.btn-primary { color: lighten($brand-primary,15); };
    &.btn-success { color: lighten($brand-success,15); };
    &.btn-warning { color: lighten($brand-warning,15); };
    &.btn-danger { color: lighten($brand-danger,15); };
    &.btn-info { color: lighten($brand-info,15); };
  }
}
.btn-block {
  display: block;
  border-radius:0;
}
.icon {
  display: inline-block;
  fill: white;
  height:1.3em;
  width:1.3em;
  vertical-align: text-bottom;
}
.btn-icon{
  background-color: transparent;
  border: none;
  line-height: 48px;
  min-width: 0;
  padding: 0 0;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
  &:hover, &:active, &:focus {
    background-color: $gray-800;
  }
  .btn-fab-icon {
    fill: $text-color-secondary;
  }
}
.btn-default{
  &:hover{
    background:$gray-800;
  }
}