.team {
  background-color: $gray_800;
  margin: 0 auto;
}
.team_headshot {
  display: inline-block;
  margin: 0 3%;
  position: relative;
  text-align: center;
  width: 42%;
  &:active, &:focus {
    img:nth-of-type(2) {
      @include opacity(100);
      @include rotate(0deg);
      visibility: visible;
    }
  }
  @include breakpoint($screen-sm) {
    margin: 0 2%;
    width: 21%;
  }
  img {
    // .transition-transform-opacity(@transition_transform);
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function, opacity $swift-ease-out-duration $swift-ease-out-timing-function, visibility $swift-ease-out-duration $swift-ease-out-timing-function);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 100%;
    &:nth-of-type(2) {
      @include opacity(0);
      @include rotate(45deg);
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
  }
  figcaption {
    margin: 1rem 0;
  }
}
.team_jobs {
  list-style: none;
  padding: 0;
  > li {
    background-color: #303030;
  }
}
.team_jobs_link {
  padding: 1rem;
  display: block;
}
.job_desc {
  padding: 0 2rem 2rem 2rem;
}
.team_icons {
  margin-top: 0.5rem;
  a:hover { text-decoration: none; }
  .svg_icon {
    // .transition-transform-opacity(@transition_transform);
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function, opacity $swift-ease-out-duration $swift-ease-out-timing-function, visibility $swift-ease-out-duration $swift-ease-out-timing-function);
    @include scale(1,1);
    fill: $gray_500;
    margin: 0 0.25rem;
    &:hover, &:active {
      @include scale(1.5,1.5);
      fill: $brand-info;
    }
  }
}

.career-container {
  article {
    margin-bottom: 2px;
  }
  label {
    @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
    background-color: $gray_100;
    color: $brand-primary;
    display: block;
    font-weight: $body-med-font-weight;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
      background-color: white;
    }
    .svg_icon {
      @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function);
      fill: $brand-info;
      vertical-align: middle;
    }
  }
  input {
    display: none;
  }
  input:checked + label, input:checked + label:hover {
    background-color: white;
    .svg_icon {
      @include rotate(180deg);
    }
  }
  article {
    @include transition(max-height $swift-ease-out-duration $swift-ease-out-timing-function, padding $swift-ease-out-duration $swift-ease-out-timing-function 100ms);
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    padding: 0 2rem;
    position: relative;
    z-index: 1;
  }
  input:checked ~ article {
    max-height: 200rem;
    padding: 2rem;
  }
}