$graphWidth:40px;
.radial-graph{
    background-color: black;
    border-radius:100%;
    color:$body-bg;
    // font-size: 0.875rem;
    font-weight: 500;
    position: relative;
    height: $graphWidth;
    width: $graphWidth;
    min-width:$graphWidth;
    min-height:$graphWidth;
    margin: 1em 1em 1em 0;
    &.running{
      background-color:$brand-danger;
      .radial-graph-inner{
        background:$brand-success;
        &.failing{
          background:$brand-danger;
        }
      }
      .loader {
        fill:$brand-success;
      }
    }
    &.stopped{
      background-color:$gray-700 !important;
      .radial-graph-inner{
        background-color:$gray-700 !important;
        border:0;
      }
      .loader{
        fill:$gray-700 !important;
      }
    }
    &.restarting{
      background-color:$brand-info;
      .radial-graph-inner{
        background-color:$brand-info;
        border:0;
      }
      .loader{
        fill:$brand-info;
      }
    }
    &.unmonitored{
      background-color:$brand-warning;
      .radial-graph-inner{
        background-color:$brand-warning;
        border:0;
      }
      .loader{
        fill:$brand-warning;
      }
    }
    &.silenced{
      background-color:$brand-primary;
      .radial-graph-inner{
        background-color:$brand-primary;
        &.failing{
          background-color:$brand-primary;
        }
      }
      .loader{
        fill:$brand-info;
      }
    }
    svg{
      width: $graphWidth;
      height: $graphWidth;
      overflow:hidden;
    }
  }
  .radial-graph-inner {
    $innerWidth:$graphWidth - 4px;
    background-color: transparent;
    border-radius:100%;
    border:3px solid $body-bg;
    height: $innerWidth;
    width: $innerWidth;
    left:50%;
    top:50%;
    margin-top:-($innerWidth / 2);
    margin-left:-($innerWidth / 2);
    line-height: $innerWidth - 6px;
    position: absolute;
    text-align: center;
  }