<header id="header" ng-hide="hideHeader">
<nav class="md-navbar" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <ul class="md-navbar-list list-unstyled display-flex justify-content-around">
          <li>
           <a class="md-navbar-link" href="/" ng-class="{'active':isActive('home')}">
             <svg class="md-navbar-icon" viewBox="0 0 24 24"><use xlink:href="#ico_globe" /></svg>
             <span class="md-navbar-title">Environment</span>
           </a>
         </li>
          <li>
           <a class="md-navbar-link" href="/checks" ng-class="{'active':isActive('checks')}">
             <svg class="md-navbar-icon" viewBox="0 0 24 24"><use xlink:href="#ico_checkmark" /></svg>
             <span class="md-navbar-title">Checks</span>
           </a>
         </li>
          <li>
           <a class="md-navbar-link" href="/more" ng-class="{'active':isActive('more')}">
             <svg class="md-navbar-icon" viewBox="0 0 24 24"><use xlink:href="#ico_more_horiz" /></svg>
             <span class="md-navbar-title">More</span>
           </a>
         </li>
         <li class="" ng-if="user.hasUser()">
           <a class="md-navbar-link" href="/profile" ng-class="{'active':isActive('profile')}">
             <svg class="md-navbar-icon" viewBox="0 0 24 24"><use xlink:href="#ico_account" /></svg>
             <span class="md-navbar-title">Profile</span>
           </a>
         </li>
         <li class="" ng-if="!user.hasUser()">
           <a class="md-navbar-link" href="/login" ng-class="{'active':isActive('login')}">
             <svg class="md-navbar-icon" viewBox="0 0 24 24"><use xlink:href="#ico_login" /></svg>
             <span class="md-navbar-title">Login</span>
           </a>
         </li>
        </ul>
      </div>
    </div>
  </div>
</nav><!-- HeaderCtrl -->
</header>