.form-group {
  border: none;
  margin-bottom: 32px;
  position: relative;
  background-color: $gray-900;
  &.search-group {
    margin-top: 4em;
  }
  > label {
    @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
    color: $text-color;
    display: block;
    font-size: 0.875em;
    font-weight: $body-font-weight;
    left: 0;
    margin-bottom: 0;
    padding: 0.5em;
    width: 100%;
  }
  > input[type='text'], [type='email'], [type='password'], textarea  {
    @include box-shadow(none);
    @include placeholder($text-color-secondary);
    @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
    background-color: transparent;
    border: none;
    color: $text-color;
    padding: 0.5em;
    &:hover {
      & ~ .input-icon {
        fill: $gray-400;
      }
    }
    &:focus, &.has-content, &.error {
      @include box-shadow(none);
    }
    &:focus {
      background-color: black; //blue-gray-800
      ~ label {
        background-color: black; //blue-gray-800
      }
      ~ .input-icon {
        fill: $brand-info;
      }
    }
    &.ng-invalid.ng-touched {
      // &:not(.ng-pristine),
      // &.ng-invalid-pattern {
        ~ label {
          @include opacity(100);
          @include transform(translate(0,0));
          color: $brand-danger;
          visibility: visible;
        }
        ~ .input-icon { fill: $brand-danger; }
        ~ .input-error-text {
          @include opacity(100);
          @include transform(translate(0,0));
          visibility: visible;
        }
      // }
    }
    &.ng-valid.ng-touched {
      ~ label {
        @include opacity(100);
        @include transform(translate(0,0));
        visibility: visible;
        // color: $text-color-secondary;
      }
    }
    &.has-icon {
      text-indent: 32px;
    }
  }// > input
  .dropdown-toggle, [dropdown-toggle]{
    @include border-radius(0);
    background-color: transparent;
    font-weight: $body-font-weight;
    text-align: left;
    text-transform: none;
    position: relative;
    &:hover {
      background-color: transparent;
    }
    &:active, &:focus {
      @include box-shadow(none);
      background-color: black; //blue-gray-800
      outline: none;
    }
    .icon {
      fill: $text-color-secondary;
      position: absolute;
      right: 0.3em;
      top: 0;
      width: 1.6em;
      height: 2.1em;
    }
  }
  .dropdown-menu {
    width:100%;
    button{
      border:0;
      background:black;
      width:100%;
      text-align:left;
      &:focus,&:active,&:hover{
        background:$brand-primary;
      }
    }
  }
  .form-subdomain {
    @include transition(height $swift-ease-out-duration $swift-ease-out-timing-function);
    background-color: $gray-900;
    display: block;
    padding: 0.25em 0.5em;
  }
}//.form-group
.form-message{
  color: $brand-danger;
  font-weight: $body-font-weight-bold;
  @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function, opacity $swift-ease-out-duration $swift-ease-out-timing-function, visibility $swift-ease-out-duration $swift-ease-out-timing-function);
  position: absolute;
  margin-left:.4em;
  &.form-message-good{
    color:$brand-success;
  }
  &.ng-enter, &.ng-leave.ng-leave-active{
    @include transform(translate(32px,0));
    opacity:0;
  }
  &.ng-enter.ng-enter-active,&.ng-leave{
    @include transform(none);
    opacity:1;
  }
}
.input-icon {
  @include transition(fill $swift-ease-out-duration $swift-ease-out-timing-function);
  bottom: 0.5em;
  fill: $text-color-secondary;
  height: 20px;
  left: 0.5em;
  margin-top: 6px;
  position: absolute;
  width: 20px;
}
.input-group-addon {
  background-color: black;
  border: none;
  color: $text-color-secondary;
}
.help-block {
  color: $text-color-secondary;
  font-family: $font-family-serif;
  font-size: 13px;
  font-style: italic;
  padding: 0 0.5em;
}

.btn-none{
  -webkit-appearance:none;
  background:none;
  border:0;
}

label{
  cursor:pointer;
  font-weight:inherit;
}