.post-attrib {
  font-size: 87.5%;
}
.attrib-time {
  color: $text-color-secondary-lightbg;
  display: block;
}
.attrib-author{
  border-radius:100%;
  display: block;
  margin-bottom: 0.5em;
  width:40px;
}
.attrib-tags {
  font-size: 87%;
  margin-top: 2em;
}
.hover-team-member{
  position: relative;
  width:200px;
  max-width:100%;
  margin:0 auto;
  img{
    display: block;
  }
  .two{
    opacity:0;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    @include transform(rotate(45deg));
    @include transition(opacity 300ms, transform 300ms);
  }
  &:hover{
    .two{
      opacity:1;
      @include transform(rotate(0deg));
    }
  }
}