.list-attrib-container {
  margin-top: 1em;
}
.list-header {
  height: 120px;
  margin-bottom: 1em;
  @include transition(background 1s $swift-ease-out-timing-function);
  &:hover, &:active {
    background-size:110% auto;
  }
  @include breakpoint($screen-sm) {
    height: 240px;
  }
}
.list-author {
  color: $gray-500;
  font-style: italic;
}