.toggle-switch {
  @include transition(background-color $swift-ease-in-duration $swift-ease-in-timing-function);
  cursor: pointer;
  display: inline-block;
  height: 1.3em;
  width: 2.5em;
  border-radius:2em;
  background:$gray-700;
  font-size:1.2em;
  @include user-select(none);
  position: relative;
  margin:0 1.2em 0 0;
  &.active{
    .knob{
      @include transform(scale(1.2) translateX(85%));
    }
    background: $brand-success;
  }
  .knob {
    @extend .md-shadow-bottom-z-1;
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function);
    background:$gray-300;
    border-radius:100%;
    width:50%;
    height:0;
    padding-top:50%;
    top:0;
    left:0;
    @include transform(scale(1.2) translateX(8%));
    position:absolute;
  }
}