.input_container {
  @include box-sizing(border-box);
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.5em;
  position: relative;
  > label {
    @include opacity(0);
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function,
      opacity $swift-ease-out-duration $swift-ease-out-timing-function,
      visibility $swift-ease-out-duration $swift-ease-out-timing-function);
    @include translate(-2em,0);
    color: $gray_400;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 0.25em;
    visibility: hidden;
    + input {padding-top: 0.5em;}
  }
  > input {
    &[type='submit'] {
      @include appearance(none);
      border: none;
      outline: none;
      &.block {
        width: 100%;
      }
    }
    &[type='text'], &[type='email'], &[type='password'] {
      @include placeholder($gray_400);
      @include transition(-webkit-box-shadow $swift-ease-out-duration $swift-ease-out-timing-function,
        box-shadow $swift-ease-out-duration $swift-ease-out-timing-function,
        border-color $swift-ease-out-duration $swift-ease-out-timing-function);
      background-color: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $gray_600;
      display: block;
      // font-family: @mono_font_family;
      font-size: 1.125em;
      font-weight: 300;
      line-height: 1em;
      outline: none;
      padding: 0.75em 0 1em 0;
      &:hover {
        border-bottom-color: $gray_400;
        & ~ .svg_icon {
          fill: $gray_400;
        }
      }
      &:focus, &:active, &.has_content, &.error {
        @include placeholder(transparent);
        ~ label {
          @include opacity(100);
          @include translate(0,0);
          visibility: visible;
        }
        &.error {
          @include box-shadow(0 1px 0 $brand-danger);
          border-bottom-color: $brand-danger;
          ~ label {color: $brand-danger;}
          ~ .svg_icon { fill: $brand-danger; }
          ~ .error_text {
            @include opacity(100);
            @include translate(0,0);
            visibility: visible;
          }
        }
      }
      &:focus, &:active {
        @include box-shadow(0 1px 0 #90CAF9);
        border-bottom-color: #90CAF9;
        ~ label {color: #90CAF9;}
        ~ .svg_icon { fill: #90CAF9; }
      }
      @include breakpoint($screen-sm){
        font-size: 1em;
      }
      &.icon {
        text-indent: 2em;
      }
      &.block {
        display: block;
        width: 100%;
      }
      ~ .svg_icon {
        fill: $gray_600;
        height: 1.25em;
        left: 0;
        // margin-top: 0.75em;
        position: absolute;
        top: 0;
        width: 1.25em;
      }
    }
  }
  > .error_text {
    @include opacity(0);
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function,
      opacity $swift-ease-out-duration $swift-ease-out-timing-function,
      visibility $swift-ease-out-duration $swift-ease-out-timing-function);
    @include translate(2em,0);
    color: $brand-danger;
    display: inline-block;
    font-weight: $body-font-bold-weight;
    visibility: hidden;
  }
}