body {
  min-height:100vh;
}

.text-center {
  text-align: center;
}

.content-pad {
  padding-top: 32px;
}

.display-flex{
  @include display-flex;
}
.display-flex-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
  }
}
.display-flex-md{
  @include breakpoint($screen-md){
    @include display-flex;
  }
}
.flex-vertical-align{
  @include display-flex;
  @include align-items(center);
}
.flex-vertical-align-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
    @include align-items(center);
  }
}
.flex-vertical-align-md{
  @include breakpoint($screen-md){
    @include display-flex;
    @include align-items(center);
  }
}
.flex-vertical-align-lg{
  @include breakpoint($screen-lg){
    @include display-flex;
    @include align-items(center);
  }
}
.flex-1{
  @include flex(1);
}
.flex-column{
  @include flex-direction(column);
}
.flex-wrap{
  @include flex-wrap(wrap);
}
.flex-start {
  align-self: flex-start;
}
.justify-content-between{
  @include justify-content(space-between);
}
.justify-content-around{
  @include justify-content(space-around);
}
.justify-content-end{
  @include justify-content(flex-end);
}
.flex-75{
  @include flex(1 75%);
}
.flex-25{
 @include flex(1 25%);
}
.flex-order-0{
  @include order(0);
}
.flex-order-1{
  @include order(1);
}
.flex-order-2{
  @include order(2);
}
.flex-order-3{
  @include order(3);
}

.transition-msg{
  @include transition(all $swift-ease-out-duration $swift-ease-out-timing-function);
  // @include transition(all 5s $swift-ease-out-timing-function);
  &.ng-enter {
    @include transform(translateY(15px));
  }
  &.ng-enter,&.ng-leave-active {
    opacity:0;
  }
  &.ng-enter-active,&.ng-leave {
    opacity:1;
    @include transform(none);
  }
  &.ng-leave-active {
    @include transform(translateY(-15px));
    opacity:0;
  }
}

.margin-none{
  margin:0 !important;
}

.padding{
  padding:1em;
}
.padding-none {
  padding: 0 0 0 0;
}
.padding-lr {
  padding-left:1em;
  padding-right:1em;
}
.padding-l{
  padding-left:1em;
}

.padding-b-sm {
  padding-bottom:0.5em;
}
.padding-b {
  padding-bottom:1em;
}
.padding-b-md {
  padding-bottom:2em;
}
.padding-b-lg {
  padding-bottom:3em;
}
.padding-b-xlg {
  padding-bottom:4em;
  @include breakpoint($screen-sm){
    padding-bottom:5em;
  }
}

.padding-t-sm {
  padding-top:0.5em;
}
.padding-t {
  padding-top:1em;
}
.padding-t-md {
  padding-top:2em;
}
.padding-t-lg {
  padding-top:3em;
}
.padding-t-xlg {
  padding-top:4em;
  @include breakpoint($screen-sm){
    padding-top:5em;
  }
}

.padding-tb-sm {
  padding-top:0.5em;
  padding-bottom:0.5em;
}
.padding-tb {
  padding-top:1em;
  padding-bottom:1em;
}
.padding-tb-md {
  padding-top:2em;
  padding-bottom:2em;
}
.padding-tb-lg {
  padding-top:3em;
  padding-bottom:3em;
}
.padding-tb-xlg {
  padding-top:4em;
  padding-bottom:4em;
  @include breakpoint($screen-sm){
    padding-top:5em;
    padding-bottom:5em;
  }
}

.pull-left-xs{
  float:left;
  @include breakpoint($screen-sm){
    float: none;
  }
}