.table {
  border-collapse: collapse;
  > thead {
    > tr {
      > th {
        line-height: 40px;
      }
    }
  }
  > tbody {
    > tr {
      td {
        line-height: 32px;
        &:first-child {
          padding-left: 24px;
        }
      }
    }
  }
}