.btn-ss {
  padding-left: 0;
  padding-right: 0;
  .icon {
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function);
  }
  &:hover .icon {
    @include translate(0.5em,0);
    fill: lighten($brand-primary,15);
  }
}

.section-bordered {
  border-bottom: 1px solid $gray-300;
}

.section-blue {
  background-color: #37474f;
  color: $gray-200;
  text-align: center;
  h2 {
    color: #90CAF9;
  }
}

.ss-hero {
  background-image: url('/public/img/home-4/home-hero.jpg');
  background-position: 25% 50%;
  background-size: cover;
  height: 350px;
  position: relative;
  @include breakpoint($screen-sm) {
    height: 500px;
  }
  h1,h2 {
    text-align: center;
  }
  h1 {
    color: $gray-200;
    @include breakpoint($screen-sm){
      font-size:60px;
    }
  }
  h2 {
    color: #90CAF9;
  }
  hgroup{
    text-shadow: 0 0 50px rgba(0,0,0,0.5);
  }
}

.ss-signup {
  background-color: #455A64;
  color: white;
  text-align: center;
  h3 { font-weight: 100; }
}

.ss-signup-bottom {
  background-color: #37474f;
  color: white;
  text-align: center;
  h2 { color: #90CAF9; }
}

.ss-hero-overlay {
  background-color: rgba(70,90,100,0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ss-img {
  display: block;
  margin: 2em auto 0 auto;
  max-width: 320px;
  width: 85%;
  @include breakpoint($screen-sm) {
    margin: 0 auto 0 auto;
    max-width: unset;
    width: 75%;
  }
}

.ss-img-alt {
  margin: 2em auto 0 auto;
  max-width: 320px;
  width: 85%;
  @include breakpoint($screen-sm) {
    max-width: unset;
    width: 50%;
  }
}

footer {
  background-color: #263238;
  color: $gray-200;
  text-align: center;
  .nav a {
    color: $gray-400;
  }
}
.logo-footer {
  display: block;
  margin: 0 auto;
  width: 123px;
}
.nav-footer {
  list-style: none;
  padding: 0 0;
}
.nav-footer-item {
  display: inline-block;
  a {
    color: $gray-400;
    &:hover {
      color: lighten($gray-400,15);
      .icon {
        fill: lighten($gray-400,15);
        @include scale(1.5,1.5);
      }
    }
  }
  .icon {
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function);
    fill: $gray-400;
  }
}