.tutorial {
  position: relative;
}
.step-container {
  @include transition(visibility $swift-ease-out-duration $swift-ease-out-timing-function);
  // overflow-x: hidden;
  // left: 0;
  // position: absolute;
  // top: 0;
  // visibility: hidden;
  // width: 100%;
  &.active {
    visibility: visible;
    .step-image {
      @include opacity(100);
      @include transform(translate(0,0));
      visibility: visible;
    }
  }
  &.previous {
    .step-image {
      @include opacity(0);
      @include transform(translate(-100%,0));
    }
  }
}

.step-image {
  @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function,
                      opacity $swift-ease-out-duration $swift-ease-out-timing-function,
                      visibility $swift-ease-out-duration $swift-ease-out-timing-function);
  display: block;
  margin: 0 auto;
  width: 100%;
  .ng-enter &{
    opacity: 0;
    @include transform(translateX(100%));
  }
  .ng-enter-active &{
    opacity:1;
    @include transform(translateX(0%));
  }
  .ng-leave &{
    opacity: 1;
    @include transform(none);
  }
  .ng-leave-active &{
    opacity: 0;
    @include transform(translateX(-100%));
  }
}

@include keyframes('fadeIn'){
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.step-title {
  background-color: $gray-900;
  margin-top: 32px;
  padding: 16px 0;
  > *{
    opacity:0;
    @include animation-duration(700ms);
    @include animation-name(fadeIn);
    @include animation-delay(400ms);
    @include animation-fill-mode(forwards);
  }
}
.step-counter {
  // .user-select(none);
  height: 48px;
  margin: 16px auto 0 auto;
  text-align: center;
  width: 50%;
}
.step-bullet {
  @include box-sizing(border-box);
  @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  content: "";
  display: inline-block;
  height: 12px;
  margin: 16px 8px 16px 0;
  width: 12px;
  &.active {
    background-color: white;
  }
  &:last-of-type {
    margin-right: 0;
  }
  @include breakpoint($screen-sm) {
    border: 3px solid white;
    height: 16px;
    width: 16px;
  }
}

// // MQ MEDIUM
// @include breakpoint($screen-sm) {
//   .step-image {
//     width: 75%;
//   }
// }